hover-tilt {
  --hover-tilt-glare-intensity: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  gap: 20px;
}

.card-title,
.card-description-container {
  color: var(--foreground-color);
  text-align: center;
  transition: opacity var(--transition-time) var(--transition-effect);
}

.card-title {
  width: 100%;
  font-family: var(--font-family-impact);
  font-weight: var(--font-weight-impact);
  font-size: var(--font-size-large);
  color: var(--foreground-color);
  text-transform: uppercase;
}

.card-cover {
  width: 45vw;
  max-width: 900px;
  height: auto;
  transition: transform var(--transition-time) var(--transition-effect), filter var(--transition-time) var(--transition-effect), opacity var(--transition-time) var(--transition-effect) !important;
}

.card-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 43px;
  font-family: var(--font-family-lab-grotesque-mono);
  font-weight: var(--font-weight-lab-grotesque-mono);
  font-size: 12px;
}

@media (aspect-ratio <= 1/1) {
  .card {
    width: 100%;
  }

  .card-title {
    width: 100%;
    position: absolute;
    top: 16%;
    left: -30vw;
    width: 100vw;
    height: auto;
    padding: 16px;
    font-size: 25px;
  }

  .card-cover {
    width: 100%;
  }

  .card-description-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding: 16px;
    font-size: 10px;
  }

  .card-description {
    text-align: center;
  }
}