.landing-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 1;
  pointer-events: none;
}

.landing-face-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}

@media (aspect-ratio <= 1/1) {
  .landing-face-container {
    top: 0;
  }
}

.landing-face-image {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (aspect-ratio <= 1/1) {
  .landing-face-image {
    width: 100%;
    height: auto;
  }
}

.landing-hands-container {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

@media (aspect-ratio <= 1/1) {
  .landing-hands-container {
    bottom: -5%;
  }
}

.landing-hands-image {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (aspect-ratio <= 1/1) {
  .landing-hands-image {
    width: 100%;
    height: auto;
  }
}

.landing-links-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.landing-links-item {
  position: fixed;
  pointer-events: none;
}

.landing-link-link {
  position: absolute;
  inset: 0;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  outline: none;
}

.landing-links-item.game .landing-link-link {
  -webkit-clip-path: polygon( 8.184% 22.67%,10.381% 19.009%,58.462% 13.737%,91.492% 74.363%,88.319% 77.439%,38.53% 90.399%,8.184% 22.67% );
  clip-path: polygon( 8.184% 22.67%,10.381% 19.009%,58.462% 13.737%,91.492% 74.363%,88.319% 77.439%,38.53% 90.399%,8.184% 22.67% );
}

.landing-links-item.tastes .landing-link-link {
  -webkit-clip-path: polygon( 43.261% 31.445%,18.533% 22.797%,7.039% 70.685%,44.48% 83.008%,49.792% 87.657%,52.665% 87.657%,54.494% 79.009%,92.893% 59.875%,77.307% 13.068%,43.261% 31.445% );
  clip-path: polygon( 43.261% 31.445%,18.533% 22.797%,7.039% 70.685%,44.48% 83.008%,49.792% 87.657%,52.665% 87.657%,54.494% 79.009%,92.893% 59.875%,77.307% 13.068%,43.261% 31.445% );
}

.landing-links-item.video .landing-link-link {
  -webkit-clip-path: polygon( 21.141% 82.433%,21.141% 9.679%,78.646% 9.679%,78.646% 82.433%,21.141% 82.433% );
  clip-path: polygon( 21.141% 82.433%,21.141% 9.679%,78.646% 9.679%,78.646% 82.433%,21.141% 82.433% );
}

@media (aspect-ratio <= 1/1) {
  .landing-links-item.video .landing-link-link {
    -webkit-clip-path: polygon( 15.129% 82.287%,16.073% 9.933%,54.615% 9.933%,96.459% 43.493%,88.28% 65.508%,57.761% 52.352%,56.66% 82.287%,15.129% 82.287% );
    clip-path: polygon( 15.129% 82.287%,16.073% 9.933%,54.615% 9.933%,96.459% 43.493%,88.28% 65.508%,57.761% 52.352%,56.66% 82.287%,15.129% 82.287% );
  }
}

.landing-link-image-container {
  display: contents;
}

.landing-link-image {
  width: auto;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  transition: filter var(--transition-time) var(--transition-effect);
}

@media (hover: hover) {
  .landing-link-link:hover + .landing-link-image-container .landing-link-text {
    opacity: 1;
  }

  .landing-link-link:hover + .landing-link-image-container .landing-link-image {
    filter: drop-shadow(0 0 16px rgba(21, 255, 0, 1));
  }
}

.landing-link-link:focus-visible + .landing-link-image-container .landing-link-text,
.landing-link-link:focus + .landing-link-image-container .landing-link-text {
  opacity: 1;
}

.landing-link-link:focus-visible + .landing-link-image-container .landing-link-image,
.landing-link-link:focus + .landing-link-image-container .landing-link-image {
  filter: drop-shadow(0 0 16px rgba(21, 255, 0, 1));
}

.landing-link-text {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-family-impact);
  font-weight: var(--font-weight-impact);
  font-size: var(--font-size-large);
  color: var(--green-color);
  text-transform: uppercase;
  pointer-events: none;
  transition: opacity var(--transition-time) var(--transition-effect);
}

.landing-links-item.game {
  height: 55%;
  bottom: 15%;
  left: calc(50% - 27vh);
  transform: translateX(-50%);
}

@media (aspect-ratio <= 1/1) {
  .landing-links-item.game {
    height: 80vw;
    max-height: 650px;
    left: 50%;
    bottom: 19%;
    transform: translate(-50%, 50%) rotate(-13deg);
  }
}

.landing-links-item.game .landing-link-text {
  top: 7%;
  left: -9vh;
  transform: rotate(-6deg);
}

.landing-links-item.tastes {
  height: 52%;
  bottom: 12%;
  left: calc(50% + 10vh);
  transform: translateX(-50%);
}

@media (aspect-ratio <= 1/1) {
  .landing-links-item.tastes {
    max-height: 650px;
    height: 79vw;
    left: 50%;
    bottom: 39%;
    transform: translate(-50%, 50%) rotate(39deg);
  }
}

.landing-links-item.tastes .landing-link-text {
  top: 17%;
  left: 1.5vh;
  transform: rotate(-21deg);
}

.landing-links-item.video {
  height: 44%;
  bottom: 25%;
  left: calc(50% + 39vh);
  transform: translateX(-50%) rotate(23deg);
}

@media (aspect-ratio <= 1/1) {
  .landing-links-item.video {
    max-height: 650px;
    height: 81vw;
    left: 55%;
    bottom: 56%;
    transform: translate(-50%, 50%) rotate(48deg);
  }
}

.landing-links-item.video .landing-link-text {
  top: -2%;
}

@media (aspect-ratio <= 1/1) {
  .landing-links-item.video .landing-link-text {
    left: -14%;
  }
}

/* .landing-links-item .landing-link-image {
  will-change: filter;
  transform: translateZ(0);
  transition: filter var(--transition-time) var(--transition-effect);
}

.landing-links-item .landing-link-link.is-over-icon .landing-link-image,
.landing-links-item .landing-link-link:focus-visible .landing-link-image {
  filter: drop-shadow(0 0 16px rgba(21, 255, 0, 1));
}

.landing-links-item .landing-link-link.is-over-icon .landing-link-text,
.landing-links-item .landing-link-link:focus-visible .landing-link-text {
  opacity: 1;
} */