/* ------------------------------------------------------------ */
/*                            FONTS                             */
/* ------------------------------------------------------------ */

@font-face {
  font-family: 'Impact MT Std';
  src: url('fonts/ImpactMTStd.woff2') format('woff2'),
      url('fonts/ImpactMTStd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque Mono';
  src: url('fonts/LabGrotesqueMono-Regular.woff2') format('woff2'),
      url('fonts/LabGrotesqueMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------------------------ */
/*                            LOGO                              */
/* ------------------------------------------------------------ */

#logo-link {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 350px;
}

#logo {
  width: 100%;
  height: auto;
  display: block;
}

@media (hover: hover) {
  #logo-link:hover img#logo {
    filter: drop-shadow(0 0 10px var(--green-color));
  }
}

.swiper-slide:not(.swiper-slide-active) .card-description-container,
.swiper-slide:not(.swiper-slide-active) .card-title {
  opacity: 0;
}

.swiper-slide:not(.swiper-slide-active) .card-cover {
  transform: scale(.7);
}

.swiper-slide.swiper-slide-active .card-cover {
  transform: rotate(4deg);
}

.swiper-slide:not(.swiper-slide-active) hover-tilt {
  pointer-events: none;
}

.swiper-navigation-icon {
  display: none;
}

@media (hover: hover) {
  .glass-button:hover {
    mix-blend-mode: color-dodge;
  }
  
  .glass-button:hover img {
    filter: brightness(2);
    transform: scale(1.2) rotate(4deg);
    mix-blend-mode: color-dodge;
  }
  
  .glass-button:hover:active img {
    transform: scale(1.23) rotate(5deg);
  }
}

@media screen and (max-width:820px) {
  .glass-button:active img {
    transform: scale(1.23) rotate(5deg);
  }
  
  #logo {
    width: 220px;
  }

  .swiper-slide.swiper-slide-active {
    z-index: 1;
  }

  .swiper-slide.swiper-slide-active .card-cover {
    transform: scale(2);
  }
}