/* ------------------------------------------------------------ */
/*                            FONTS                             */
/* ------------------------------------------------------------ */

@font-face {
  font-family: 'Impact MT Std';
  src: url('/fonts/ImpactMTStd.woff2') format('woff2'),
      url('/fonts/ImpactMTStd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque Mono';
  src: url('/fonts/LabGrotesqueMono-Regular.woff2') format('woff2'),
      url('/fonts/LabGrotesqueMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------------------------ */
/*                            OTHER                             */
/* ------------------------------------------------------------ */

html {
  overflow: hidden;
}

.app-image,
.app-image picture {
  display: contents;
}

/* ------------------------------------------------------------ */
/*                            LOGO                              */
/* ------------------------------------------------------------ */

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 350px;
}

@media (aspect-ratio <= 1/1) {
  .header {
    width: max(23vw, 190px);
  }
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-link {
  width: 100%;
}

#logo {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

@media (hover: hover) {
  #logo-link:hover img#logo {
    filter: drop-shadow(0 0 5px var(--green-color));
  }
}